{% extends "layout.html" %}

{% block title %}
History
{% endblock %}

{% block main %}
<table class="table">
    <thead>
        <tr>
            <th class="text-start">Symbol</th>
            <th class="text-end">Shares</th>
            <th class="text-end">Price</th>
            <th class="text-end">Transacted</th>
        </tr>
    </thead>
    <tbody>

            <tr>
                <td class="text-start">NFLX</td>
                <td class="text-end">1</td>
                <td class="text-end">$324.12</td>
                <td class="text-end">2023-05-02 11:53:20</td>
            </tr>

    </tbody>
</table>
{% endblock %}